*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/generated
/build/outputs/logs
/build/intermediates
/build/tmp
/captures
.externalNativeBuild
.cxx
local.properties
